/* CSS variables */
:root {
  --blue: #4e59c0;
  --dark: #221c1e;
  --light: #f9ede3;
  --green: #1e6157;
  --yellow: #f5a602;
}

/* Global */
#root {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

body {
  background:  var(--light);
  color: var(--blue);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/* Navigation */
nav {
  background: var(--blue);
  width: 100vw;
}

#nav .navbar-brand {
  background: var(--light);
  color: var(--blue);
  font-size: 1em;
  padding: 0 10px;
}

.nav-link  {
  color: var(--light);
}

.nav-link:hover {
  color: var(--yellow);
}

.navbar-nav .nav-link.active {
  color: var(--yellow);
  font-weight: 500;
}

/* Header */
header {
  padding-top: 150px;
  background: url('/images/hero.jpg') center 58px no-repeat;
  background-size: cover;
  display: flex;
  flex-direction:  row;
  justify-content: flex-end;
}

header .subtitle {
  background: var(--light);
  box-shadow: 5px 5px 8px #888;
  color: #4e59c0;
  font-size: 1.5em;
  margin-right: 20px;
  padding: 5px 10px;
}

/* About */

#about h1 {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
}


/* Project Gallery */
.card {
  border: none;
  border-radius: 0;
}

.card .card-img {
  border-radius: 0;
}

/* Footer */



